body {
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  /* background-color: #000000; */
  margin: 0px;
  overflow: hidden;
}
#info {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 5px;
}
a {
  color: #ffffff;
}
#oldie a {
  color: #da0;
}
#notSupported {
  display: none;
  width: 50%;
  margin: auto;
  border: 2px red solid;
  margin-top: 20px;
  padding: 10px;
}
header .avatar {
  border: 5px solid #fff;
  border-radius: 300px;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #88acdb;
  -webkit-transition: all 0.2s ease-in;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
}
header .avatar img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 300px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
}